@import 'tailwindcss';
@import './prism.css' layer(components);

@plugin '@tailwindcss/typography';
@config '../../typography.ts';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --color-page-bg: #f6efe6; /* light sepia background */
  --color-page-fg: #fbf6ed; /* main text color (warm dark) */
  --color-page-muted: #4f2c1a; /* secondary text */
  --color-page-accent: #8a4b2a; /* accent (links, buttons) */
  --color-substack: #ff6719; /* substack orange */
}

@keyframes steam {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-2px);
    opacity: 0.85;
  }
}

.prose blockquote {
  border-left-color: var(--color-teal-500);
}

.image-link-expand {
  display: none !important;
}

.substack-body img {
  max-width: 100%; /* this is the sweet spot */
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  cursor: zoom-in;
}

@media (min-width: 768px) {
  .substack-body img {
    max-width: 100%;
  }
}

.substack-body :where(h2) {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.substack-body :where(p + h2) {
  margin-top: 1.75rem;
}

.substack-body :where(ul > li) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.substack-body :where(li > p) {
  margin: 0;
}
